
<section class="section1">
    <div class="container1">
        <span class="title1">
            Menú de administrador
        </span>
        <div class="item1">
            <span class="icon1">
                📦
            </span>
            <span class="title2">
                Gestión de productos
            </span>
            <span class="icon1">
                🔒
            </span>
            <span class="title2">
                Cambiar contraseña
            </span>
            <span class="icon1">
                📊
            </span>
            <span class="title2">
                <a href="Estadisticas.html">Estadísticas</a> 
            </span>
        </div>
    </div>
</section>