<header class="Top-Barp">
  <span class="titleNavBar">
    SavoryMart
  </span>

  <nav class="navbarp">
    <ul class="navbar-listp">
      <li class="navbar-itemp"><a routerLink="home">Inicio</a></li>
      <li class="navbar-itemp"><a routerLink="auth">Usuarios</a></li>
      <li class="navbar-itemp"><a routerLink="home/productList">Productos</a></li>
      <li class="navbar-itemp"><a routerLink="contacto">Contacto</a></li>
      <li class="navbar-itemp">
        <a routerLink="home/carrito">
          <i class="fa fa-shopping-cart"></i> 
        </a>
      </li>

    </ul>
  </nav>
</header>

<router-outlet></router-outlet>
